services:
  - type: web
    name: smartvision-backend
    env: python
    plan: starter
    buildCommand: |
      pip install --upgrade pip
      pip install -r server/requirements.txt
    startCommand: |
      uvicorn server.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: ENV
        value: dev
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: SECRET_KEY
        sync: false
