services:
  - type: web
    name: smartvision-backend
    env: python
    rootDir: server             # бекенд лежит в /server
    pythonVersion: 3.11.5
    buildCommand: |
      pip install --upgrade pip
      pip wheel --wheel-dir .render_wheels -r requirements.txt
      pip install --no-index --find-links .render_wheels -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    autoDeploy: true
